* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.container {
    width: 20%;
    height: 40%;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);    
    margin: 20px;
}

.card__immagine {
    width: 100%;
    height: auto;
}
  
h2 {
    font-size: 10px;
}

.card__descryption-upper p {
    font-size: 10px;
    text-align: left;

}

.type {
      font-size: 10px;
      text-align: center;
      background-color: purple;
      border-radius: 30%;
      color: white;
      padding: 3px;
}

.card__descryption-lower-portrait {
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
}

.card__descryption-lower span {
    font-size: 8px;
    font-weight: bold;
}

.card__descryption-lower-past-time {
    font-size: 8px;
    color: grey;
}