section {
    border-style: outset;
    border-width: 2px;
    border-color: rgba(181, 178, 178, 0.472);
    border-radius: 20px;
    width: 300px;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h3>span {
    color: white;
    background-color: pink;
    border-radius: 3px;
    font-family: arial;
}

.card__descryption-lower-portrait {
    width: 50px;
    border-radius: 60%;
}