#container {
    display: flex;
    justify-content: center;
}

#QandA {
    max-width: 672 px;
}

.contenitore {
    background-color: rgb(241, 239, 239);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

h2 {
    font-size: 20px;
}

